:root {
  --reg-br: 10px;
  --small-br: 3px;
  --hover-color: #2e3031;
  --hover-background: rgba(255, 255, 255, 0.3);
  --main-bg: rgb(59, 57, 57);
  --main-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.65);
}

* {
  font-family: 'Roboto', sans-serif;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #1e2021;
  color: #fff;
}
